.header
  .header__title
    = link_to "プログラミング紹介サイト", '#', class: "header__title--text"
  .header__right
    = link_to "新規登録", '#', class: "header__right--btn"

.main
  .main-content
    = link_to "/" do
      HTML
    = link_to "/" do
      CSS

.footer
  .footer_info
    .footer_info_name
      管理者名　日野公介
    = link_to "プロフィール", '#', class: "footer_info_profile"